@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}
*, html {
  margin:0;
  padding:0;  
}
/*
background: linear-gradient(70deg, #0267aa, #012872, #012872);
*/
body {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(70deg, #0267aa, #012872, #000000);
  color: #514B64;
  min-height: 100vh;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.carousel-item{
  height: 100%;
}
#page-content {
  flex: 1 0 auto;
}
.filmTitle{
  display: inline-block;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px rgb(64, 243, 243);
  transition: all .2s ease-in-out;
}
.filmTitle:hover{
  transform: scale(1.2);
  color: rgb(64, 243, 243);
}
.InfoValidation {
  text-shadow:
    0 0 5px rgb(51, 255, 0),
    0 0 10px rgb(51, 255, 0),
    0 0 14px rgb(51, 255, 0);
}
.InfoErreur {
  text-shadow:
    0 0 5px rgb(252, 0, 0),
    0 0 10px rgb(255, 0, 0),
    0 0 14px rgba(255, 0, 0);
}
h1 {
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px rgb(64, 243, 243);
}
h2 {
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px rgb(20, 17, 196);
}
.labelForm {
  width: 150px;
  text-align: right;
}
.inputForm {
  width: 220px;
  text-align: center;
}
.card-NewFilm {
  width: 42%;
  height: 50%;
  background-color: #2a2b38;
  background-size: 300%;
  border-radius: 30px;
  box-shadow: rgba(64, 243, 243, 0.616) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-bottom: 15px;
}

label {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(12, 56, 199);
}

.navbar-brand {
  float: left;
}

.form-group2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputForm2 {
  height: 26px;
  border-radius: 5px;
}

#Admin {
  margin-right: 2px;
  margin-left: 2%;
}

#Admin2 {
  display: none;
}

#Dcnx2 {
  display: none;
}

input {
  margin-top: 1%;
  border: #D1D7E3;
  border-radius: 4px;
  line-height: 24px;
  box-shadow: 0 4px 12px -2px rgba(#6B75A1, .16);;
}

select {
  margin-top: 1%;
}
a:link{
   text-decoration: none; 
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 20px 4px rgb(0, 153, 255);
}

p {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(12, 46, 199);
}

h3 {
  color: rgb(252, 252, 252);
  text-shadow: 0 0 8px rgb(64, 243, 243);
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.hrNav{
  background-color: rgb(0, 153, 255);
    border: 1 none;
    opacity : 1;
    color: rgb(0, 153, 255);
    height: 1px;
    margin-top: 0;
    box-shadow: 0px 10px 13px -7px rgb(64, 243, 243), 2px 5px 15px 2px rgb(64, 243, 243);
}
.hrstyle1{
  background-color: rgb(0, 153, 255);
    border: 1 none;
    opacity : 1;
    color: rgb(0, 153, 255);
    height: 1px;
}
.hrFooter{
  background-color: rgb(0, 153, 255);
    border: 1 none;
    opacity : 1;
    color: rgb(0, 153, 255);
    height: 1px;
    margin-top: 0;
}
.btnSocial:hover {
  background-color: rgb(16, 97, 173) !important;
  border-color: black !important;
}
footer{
  box-shadow: 0px -2px 13px -7px rgb(64, 243, 243), 2px 5px 15px 2px rgb(64, 243, 243);
}
.footerFix{
  padding-bottom: 150px;
}
.footer2 {
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 100% !important;
}

.navbar-collapse {
  flex-grow: 0;
}

/*Custom navbar*/
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(16, 110, 173);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler {
  position: relative;
  transition: .5s ease-in-out;
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
  background: white;
}

@media only screen and (max-width: 992px) {
  #Admin {
    display : none;
  }

  #Admin2 {
    display: block;
  }

  #Dcnx {
    display: none;
  }

  #Dcnx2 {
    display: block;
  }

  .inputForm {
    display: block;
    text-align: center;
    margin: auto;
    width: 280px;
  }

  .labelForm {
    display: block;
    text-align: center;
    margin: auto;
    width: 280px;
    margin-top: -15px;
  }

  .card-NewFilm {
    width: 95%;
    height: 50%;
  }
  .catalogueBtn{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

#texte {
  width: 50%;
  text-align: center;
}

#sous-Admin {
  backdrop-filter: brightness(35%);
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

button {
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
}
h5 {
  color: rgb(252, 252, 252);
  text-shadow: 0 0 8px rgb(64, 243, 243);
  text-align: center;
}

#carouselExampleLight {
  position: relative;
}

/*catalogue
section{
    padding: 50px 0;
}

/*	gallery */

.gallery-title {
  font-size: 36px;
  color: #3F6184;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.filter-button {
  font-size: 18px;
  border: 2px solid #3F6184;
  padding: 5px 10px;
  text-align: center;
  color: #ffffff;
  background-color: #04befe;
  margin-bottom: 30px;
  background: transparent;
  background-position: 100% 0;
  border-radius: 7px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active {
  background-image: linear-gradient(to right,
  #25aae1,
  #4481eb,
  #04befe,
  #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  color: #ffffff;
  outline: none;
}
.input-contact{
  text-align: center!important;
  border-width: 0 0 2px;
  border-color: rgb(0, 0, 0)
}
.label-contact{
  margin-top: 10px;
  display: block; 
  height: 35px; 
  line-height: 35px; 
}
textarea{
  width: 45%;
  height: 150px;
}
.InputStyle2{
  padding: 13px 20px;
  height: 35px;
  width: 60%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.dropdownInput{
  height: 40px;
}
.dropdownInput2{
  height: 40px;
  width: 30%;
  text-align: center;
}
.InputStyle2:focus,
.InputStyle2:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.InputStyle2::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.InputStyle2::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.InputStyle2:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.InputStyle2:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.InputStyle2:-webkit-autofill,
.InputStyle2:-webkit-autofill:hover, 
.InputStyle2:-webkit-autofill:focus, 
.InputStyle2:-webkit-autofill:active{
    -webkit-box-shadow: 0 4px 8px 30px #1f2029 inset !important;
}
.InputStyle2:-webkit-autofill{
  -webkit-text-fill-color: #c4c3ca!important;
}
.table thead th {
    border: none;
    padding: 20px 30px;
    font-size: 14px;
    color: #fff;
    border-bottom: 4px solid #2b3035; 
}
.table tbody tr {
    margin-bottom: 10px; 
}
.table tbody th, .table tbody td {
    border: none;
    padding: 20px 30px;
    border-bottom: 3px solid #2b3035;
    font-size: 14px; 
}
.inputLocation:focus {
  box-shadow: 0px 0px 0px 0px rgba(249, 249, 250, 0);
}